.bg-hero-image {
    background-image: url('https://picsum.photos/1300/500');
    background-position: center center;
    
} 
body {
    background-color: rgb(54, 54, 54);
}
.card {
    background-color: rgb(189, 189, 189);
    margin-top: 2rem;
    box-shadow: 10px 10px 2px

}
.box {
    box-shadow: 10px 10px 2px;
    border-radius: 5px;
}
h1 {
    font-family: 'Merriweather Sans', sans-serif;
}
h5 {
    font-family: 'Merriweather Sans', sans-serif;
}